//light theme
$primary_light: #FFC4D6;
$secondary_light: #87CEEB;
$third_light: #ddebdd;
$accent_light: #FFF44F;
$background_light: #ffffff;
$text_light: #FFFFFF;

// dark theme
$primary_dark: #333333;
$secondary_dark: #7DF9FF;
$third_dark: #CCCCCC;
$accent_dark: #FF5E5E;
$background_dark: #000000;
$text_dark: #FFFFFF;
