//Light gray: (#CCCCCC) - This could be used as a subtle background color or for text that needs to be less prominent than the white text.
//Light blue: (#B3E5FC) - This is a softer, lighter version of the electric blue and could be used as a background color for certain elements, such as the volume control or equalizer.
//Dark red: (#C62828) - This is a deeper, more intense version of the bright red and could be used as an accent color for elements that need to stand out more.
//Gold: (#FFD700) - This is a warm, metallic color that could be used for special elements, such as awards or badges for top-rated or most-played songs.
//Green: (#00C853) - This is a bright, lively color that could be used as an accent color for elements related to playlists or other user-generated content.

$primary_color: #333333;
$secondary_color: #7DF9FF;
$third_color: #CCCCCC;
$accent_color: #FF5E5E;
$background_color: #000000;
$text_color: #FFFFFF;

//.content {
//  flex-direction: column;
//  margin-top: 100px;
//  width: 100%;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//}

.track_container {
  margin: 50px auto;
  width: 500px;

  color:$text_color;
  background-color: $primary_color;
  border-radius: 20px;
  padding: 20px;


  .tracks {
    display: flex;
    justify-content: space-around;

    a {
      margin: auto 0;
      font-size: 1.5rem;
      color: $accent_color;
    }
  }
}

.search {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: $third_color;
  height: 50px;
  border-radius: 20px;
}