@import "../theme.module";

.tracks_page {
  @include themify() {
    .track_container {
      margin: 20px auto 100px;
      width: 500px;
      color: themed("text");
      background-color: themed("primary");
      border-radius: 20px;
      padding: 20px;

      .tracks {
        display: flex;
        justify-content: space-around;

        a {
          margin: auto 0;
          font-size: 1.5rem;
          color: themed("accent");
        }

      }
}

    .search {
      display: flex;
      justify-content: center;
      width: 440px;
      margin: 20px auto;
      text-align: center;
      background-color: themed("third");
      height: 50px;
      border-radius: 20px;
    }
  }
}