@import "../theme.module";

.dark {

  .track_container {
    margin: 50px auto;
    width: 500px;
    color: $text_dark;
    background-color: $primary_dark;
    border-radius: 20px;
    padding: 20px;

    .tracks {
      display: flex;
      justify-content: space-around;

      a {
        margin: auto 0;
        font-size: 1.5rem;
        color: $accent_dark;
      }

    }

    .search {
      display: flex;
      justify-content: center;
      width: 440px;
      margin: 20px auto;
      text-align: center;
      background-color: $third_dark;
      height: 50px;
      border-radius: 20px;
    }
  }
}

.light {

  .track_container {
    margin: 50px auto;
    width: 500px;
    color: $text_light;
    background-color: $primary_light;
    border-radius: 20px;
    padding: 20px;

    .tracks {
      display: flex;
      justify-content: space-around;

      a {
        margin: auto 0;
        font-size: 1.5rem;
        color: #00BFFF;
      }

    }

    .search {
      display: flex;
      justify-content: center;
      width: 440px;
      margin: 20px auto;
      text-align: center;
      background-color: $third_light;
      height: 50px;
      border-radius: 20px;
    }
  }
}