@import "../../styles/theme.module";

@include themify() {
  .stepper {

    circle {
      color: themed("accent_bg");
    }
    path {
      color: themed("accent_bg");
    }

    span {
      color: themed("accent_bg");
    }
  }

  .track_part {
    margin-top: 20px;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

