//$primary-color: #b7b2d1;
//$secondary-color: #6c757d;
//
//.navbar {
//  background-color: $primary-color;
//  color: white;
//  display: flex;
//  justify-content: space-between;
//  padding: 10px;
//}


.navbar {
    background-color: #dda1a1;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  //.left {
  //  color: #2764d9;
  //}
  //
  //.right {
  //  .user {
  //    img {
  //      margin: 0 5px;
  //      border-radius: 50%;
  //      width: 32px;
  //      height: 32px;
  //    }
  //  }
  //}
}