@import "../../styles/theme.module.scss";

.light {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0 0 20px 20px;
  font-size: 1.2rem;

  background-color: $primary_light;

  .left {
    display: flex;

    a {
      padding: 0 10px;
    }

    span {
      color: $text_light;

      &:hover {
        color: $accent_light;
      }
    }
  }

  .right {
    display: flex;
    width: 250px;
    flex-direction: row;
    justify-content: space-around;
    color: $text_light;

    .theme {
      display: flex;
      align-items: center;

      &:hover {
        color: $accent_light;
      }
    }

    .user {
      display: flex;
      align-self: center;

      &:hover {
        color: $accent_light;
      }
    }

    .logout {
      display: flex;
      align-self: center;

      &:hover {
        color: $accent_light;
      }
    }
  }
}

.dark {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0 0 20px 20px;
  font-size: 1.2rem;

  background-color: $primary_dark;

  .left {
    display: flex;

    a {
      padding: 0 10px;
    }

    span {
      color: $text_dark;

      &:hover {
        color: $accent_dark;
      }
    }
  }

  .right {
    display: flex;
    width: 250px;
    flex-direction: row;
    justify-content: space-around;
    color: $text_dark;

    .theme {
      display: flex;
      align-items: center;

      &:hover {
        color: $accent_dark;
      }
    }

    .user {
      display: flex;
      align-self: center;

      &:hover {
        color: $accent_dark;
      }
    }

    .logout {
      display: flex;
      align-self: center;

      &:hover {
        color: $accent_dark;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    justify-content: space-between;
    height: auto;
  }

  .logo {
    margin-bottom: 1rem;
  }

  .nav {
    flex-direction: column;
    align-items: center;

    li {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }
}
