@import "../../styles/theme.module";

@include themify {
  display: flex;
  justify-content: center;

  .comment {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    background: themed("primary");
    border-radius: 5px;

    p {
      margin: 0;
      text-align: center;
      padding: 0 5px;
    }

    .delete {
      color: themed("accent");
    }
  }
}